/*CUSTOM FONTS*/
@font-face{
	font-family: MyriadPro-Para;
		src: url('assets/fonts/MyriadPro-Regular.otf') format("opentype");/*paragraphs*/
}
@font-face{
	font-family: MyriadPro-Heading;
		src: url('assets/fonts/MyriadPro-Bold.otf');/*h1-h6 headings*/
}
@font-face{
	font-family: MyriadPro-Para-Heading;
		src: url('assets/fonts/MyriadPro-Semibold.otf');/*bold paragraphs headings*/
}
@font-face{
	font-family: MyriadPro-italic;
		src: url('assets/fonts/MyriadPro-CondIt.otf');/*italic paragraphs*/
}
@font-face{
	font-family: MyriadPro-italic;
		src: url('assets/fonts/MyriadPro-SemiboldIt.otf');/*italic paragraphs*/
}
/*END OF CUSTOM FONTS*/

/*CSS RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 DISPLAY-ROLE RESET FOR OLDER BROWSERS */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body{
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table{
	border-collapse: collapse;
	border-spacing: 0;
}
/*END OF CSS RESET*/

body{
	background: #f5e4ad url('assets/background.png');
	color: #595959;
}
#container{
	max-width: 55em;
	
	margin: 0 auto;
	padding-top: 2em;
}
nav{
	width: 100%;
	height: 2.3em;
	background-color: #404040;
	text-align: right;
	clear: both;
	font-size: 0.9em;
}
nav ul{
	padding-right: 5em;
}
nav ul li{
	display: inline;
	line-height: 2.1em;
}
nav a{
	text-decoration: none;
	padding: 0.7em;
	color: #ffffff;
}
#mobile-menu{
	display: none;
}
nav a:hover{
	background-color: #262626;
}
nav a:visited{
	color: #ffffff;
}
nav a:active{
	color: #ffffff;
}
main{
	margin: 0 auto;
	padding: 0 0.5em 0 0.5em;
}
.heap-menu{
	padding-left: 9em;
	padding-right: 2em;
	padding-bottom: 7em;
	float: left;
}
.heap-menu li{
	font-size: 1.5em;
	line-height: 1.5em;
}
#heap-menu-sP{
	padding-left: 9em;
	padding-right: 2em;
	padding-bottom: 2em;
	float: left;
}
#heap-menu-sP li{
	font-size: 1.5em;
	line-height: 1.5em;
}
#heap-menu-fP{
	padding-left: 9em;
	padding-right: 2em;
	padding-bottom: 1.5em;
	float: left;
}
#heap-menu-fP li{
	font-size: 1.5em;
	line-height: 1.5em;
}
#oil-elct-wrapper{
	width: 100%;
	padding-top: 0.5em;
	margin: 0 auto;
}
#oil-elct-wrapper-ul img{
	float: right;
	width: 23%;
	padding-left: 0.2em;
	}
#course-heat-wrapper{
	width: 100%;
	clear: both;
	margin: 0 auto;
	padding-top: 0.5em;
}
#course-heat-wrapper ul li{
	display: inline;
}
#course-heat-wrapper img{
	width: 23%;
	float: right;
	padding-left: 0.2em;
}
#mobile-img{
	display: none;
}
#defining-heap{
	list-style-image: url('assets/green-check.png')
}
#applying-for-heap{
	list-style-image: url('assets/green-check.png')
}
#heap-eligibility{
	list-style-image: url('assets/green-check.png')
}
#calculating-heap{
	list-style-image: url('assets/green-check.png')
}
h1, h3{
	font-family: MyriadPro-Heading;
}
h1{
	font-size: 2.1em;
	text-align: center;
	padding-bottom: 0.7em;
}
h3{
	font-size: 1.2em;
	padding-bottom: 0.4em;
	padding-top: 0.7em;
}
p{
	font-family: MyriadPro-Para-heading;
	line-height: 1.2em;
	padding-bottom: 0.5em;
}
form{
	font-family: MyriadPro-Para-heading;
	padding-bottom: 2em;
}
span{
	font-family: MyriadPro-Heading;
}
#gross-monthly-income{
	font-family: MyriadPro-Para-heading;
	font-size: 0.9em;
	height: 1.5em;
	border-radius: 0.5em;
	outline: none;
}
#gross-monthly-income:focus{
	background-color: #ffffcc;
}
.submit-answer{
	font-family: MyriadPro-Heading;
	font-size: 0.9em;
	color: #595959;
	height: 1.7em;
	border-radius: 0.5em;
	outline: none;
	cursor: pointer;
}
input[type=checkbox]{
	height: 1.1em;
	width: 1.1em;
	cursor: pointer;
}
.ul-text-answer{
	font-family: MyriadPro-Para-heading;

	list-style-type: disc;
	visibility: hidden;
}
.ul-text-answer li{
	margin-left: 2.5em;
}
.text-answer{
	visibility: hidden;
}
.italic{
	font-family: MyriadPro-italic;
}
section{
	margin: 0 auto;
	padding: 1em 0.5em 0 0.5em;
	color: #666666;
}
section a:visited{
	color: #666666;
}
.icons-group-lesson{
	display: block;
    margin: 0 auto;
	padding-top: 0.5em;
	width: 45%;
}
.back-page:before{
	content: "\00ab";
}
.next-page:after{
	content: "\00bb";
}
.back-page{
	float: left;
}
.next-page{
	float: right;
}
.back-page a, .next-page a{
	color: #666666;
}
.page-number{
	font-family: MyriadPro-italic;
	text-align: center;
	padding-top: 0.5em;
	color: #808080;
}
footer{
	clear: both;
	padding-top: 1em;
	text-align: center;
}
.clear{
	display: block;
	clear: both;
}
.no-script{
	color: #261313;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~RESPOSIVE VIEW~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@media only screen and (max-width: 768px){
	nav ul{
		padding-right: 0.5em;
	}
	nav a{
		padding: 0.2em;
	}
	main{
		padding: 0 0.5em 0 0.5em;
	}
	.heap-menu{
		padding-left: 5em;
		padding-right: 1.5em;
		padding-bottom: 5em;
		float: left;
	}
	.heap-menu li{
		font-size: 0.8em;
		line-height: 1em;
	}
	.heap-menu img{
		width: 15%;
	}
	#heap-menu-sP{
	padding-left: 5em;
	padding-right: 1.5em;
	padding-bottom: 2em;
	float: left;
}
	#heap-menu-sP li{
		font-size: 0.8em;
		line-height: 1em;
	}
	#heap-menu-fP{
		padding-left: 7em;
		padding-right: 1.5em;
		padding-bottom: 1em;
		float: left;
	}
	#heap-menu-fP li{
		font-size: 1.2em;
		line-height: 1em;
	}
	#heap-menu-fP img{
		width: 15%;
	}
	#heap-menu-sP img{
		width: 15%;
	}
	#course-heat-wrapper{
		padding-top: 0.5em;
	}
	h1{
		font-size: 1.1em;
		padding-bottom: 0.7em;
	}
	h3{
		font-size: 0.9em;
		padding-bottom: 0.3em;
		padding-top: 0.5em;
	}
	p{
		font-size: 0.7em;
		line-height: 1.1em;
		padding-bottom: 0.4em;
	}
	form{
		padding-bottom: 1.5em;
	}
	#gross-monthly-income{
		font-size: 0.7em;
		height: 1.3em;
	}
	.submit-answer{
		font-size: 0.7em;
		height: 1.5em;
	}
	input[type=checkbox]{
		height: 1em;
		width: 1em;
	}
	.ul-text-answer li{
		margin-left: 2.5em;
	}
	section{
		padding: 1em 0.5em 0 0.5em;
		color: #666666;
	}
}
@media only screen and (max-width: 700px){
	#oil-elct-wrapper img{
		display: none;
	}
	#course-heat-wrapper{
		display: none;
	}
	#mobile-img{
		display: block;
		width: 100%;
		margin: 0 auto;
	}
	#mobile-img figure{
		text-align: center;
	}
	#mobile-img img{
		width: 15%;
	}
}
@media only screen and (max-width: 478px){
	nav{
		height: auto;
		font-size: 0.8em;
		text-align: right;
	}
	nav ul li{
		display: block;
		line-height: 1.2em;
		padding-top: 0.3em;
		font-size: 1.1em;
	}
	#mobile-menu-hamburger{
		color: #cccccc;
		font-size: 1.6em;
		cursor: pointer;
		display: block;
		padding: 0.2em;
	}
	#main-menu{
		display:none;
	}
	#mobile-menu{
		display: block;
		padding-right: 0;
	}
	#mobile-menu li{
		background-color: #666666;
		border-bottom: 0.1em solid #404040;
	}
	#mobile-menu li:last-child{
		border: none;
	}
	#mobile-menu-hide{
		display: none;
		padding-right: 0;
		text-align: left;
		font-size: 1em;
	}
	.heap-menu{
		padding-left: 5em;
		padding-right: 3.5em;
		padding-bottom: 1.5em;
		float: left;
	}
	#heap-menu-sP{
		padding-left: 5em;
		padding-right: 3.5em;
		padding-bottom: 1.5em;
		float: left;
	}
	#heap-menu-fP{
		padding-left: 5em;
		padding-right: 3.5em;
		padding-bottom: 1.5em;
		float: left;
	}
	article{
		float: right;
	}
	h1{
		font-size: 0.9em;
		padding-bottom: 0.7em;
	}
	h3{
		font-size: 0.7em;
		padding-bottom: 0.2em;
		padding-top: 0.3em;
	}
	p{
		font-size: 0.6em;
		line-height: 1em;
		padding-bottom: 0.3em;
	}
	form{
		padding-bottom: 1.3em;
		font-size: 0.6em;
	}
	input[type=checkbox]{
		height: 0.8em;
		width: 0.8em;
	}
	#gross-monthly-income{
		font-size: 0.5em;
		height: 1.1em;
	}
	.submit-answer{
		font-size: 0.8em;
		height: 1.9em;
	}
	.ul-text-answer-heading{
		font-family: MyriadPro-Heading;
		font-size: 0.8em;
	}
	.ul-text-answer{
		font-size: 0.8em;
	}
	.ul-text-answer li{
		margin-left: 2.5em;
		font-size: 0.8em;
	}
	section{
		padding: 1em 0.5em 0 0.5em;
		color: #666666;
	}
	.italic{
		font-size: 0.9em;
	}
}
@media only screen and (max-width: 375px){
	nav ul li{
		display: block;
		line-height: 1.1em;
		padding-top: 0.2em;
	}
	#mobile-menu-hamburger{
		font-size: 1.4em;
		cursor: pointer;
	}
	.heap-menu{
		padding-left: 3em;
		padding-right: 1em;
		padding-bottom: 1.2em;
		float: left;
	}
	.heap-menu li{
		font-size: 0.8em;
		line-height: 1em;
	}
	#heap-menu-sP{
		padding-left: 3em;
		padding-right: 1em;
		padding-bottom: 1.2em;
		float: left;
	}
	#heap-menu-sP li{
		font-size: 0.8em;
		line-height: 1em;
	}
	#heap-menu-fP{
		padding-left: 3em;
		padding-right: 1em;
		padding-bottom: 1.2em;
		float: left;
	}
	#heap-menu-fP li{
		font-size: 0.8em;
		line-height: 1em;
	}

	h1{
		font-size: 0.9em;
		padding-bottom: 0.7em;
	}
	h3{
		font-size: 0.7em;
		padding-bottom: 0.2em;
		padding-top: 0.3em;
	}
	p{
		font-size: 0.6em;
		line-height: 1em;
		padding-bottom: 0.3em;
	}
	form{
		padding-bottom: 1.3em;
		font-size: 0.6em;
	}
	input[type=checkbox]{
		height: 0.8em;
		width: 0.8em;
	}
	#gross-monthly-income{
		font-size: 0.5em;
		height: 1.1em;
	}
	.submit-answer{
		font-size: 0.8em;
		height: 1.9em;
	}
	.ul-text-answer-heading{
		font-family: MyriadPro-Heading;
		font-size: 0.8em;
	}
	.ul-text-answer{
		font-size: 0.8em;
	}
	.ul-text-answer li{
		margin-left: 2.5em;
		font-size: 0.8em;
	}
	section{
		padding: 1em 0.5em 0 0.5em;
		color: #666666;
	}

}